<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body class="h-screen">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/build/app.js"></script>
        {% endblock %}
    </body>
</html>
